In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pickle
with open('titanic_step3_feature_encoding.pickle','rb') as pickle_filename:
    df_onehot = pickle.load(pickle_filename)
with open('titanic_step3_feature_encoding_y.pickle', 'rb') as pickle_filename:
    y_train = pickle.load(pickle_filename)
ntrain=891
X_train, X_test = df_onehot[:ntrain], df_onehot[ntrain:]
X_train.head()

,Pclass_0,Pclass_1,Pclass_2,Sex_0,Sex_1,Age_0,Age_1,Age_2,Age_3,Age_4,...,HighChance_0,HighChance_1,HighChance_2,HighChance_3,HighChance_4,HighChance_5,HighChance_6,LowChance_0,LowChance_1,LowChance_2
0,False,False,True,True,False,False,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
1,True,False,False,False,True,False,False,False,False,True,...,False,False,True,False,False,False,False,True,False,False
2,False,False,True,False,True,False,False,False,True,False,...,True,False,False,False,False,False,False,True,False,False
3,True,False,False,False,True,False,False,False,False,True,...,False,False,True,False,False,False,False,True,False,False
4,False,False,True,True,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,True

In [3]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [4]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [5]:
score = cross_val_score(knn, X_train, y_train, cv=k_fold, n_jobs=-1, scoring='accuracy')
score

/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/guniguni/Library/Python/3.9/lib/python/site-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

array([0.82222222, 0.78651685, 0.78651685, 0.85393258, 0.85393258,
       0.83146067, 0.80898876, 0.83146067, 0.82022472, 0.79775281])

In [6]:
import numpy as np
np.mean(score)*100

81.93008739076156

In [7]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

iris_data = load_iris()

In [8]:
dir(iris_data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [11]:
iris_df = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)

In [12]:
iris_df['species'] = iris_data.target
iris_df['species'].value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [13]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [14]:
skfold = StratifiedKFold(n_splits=3)

for train_index, test_index in skfold.split(iris_df, iris_df['species']):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('train set\n', trainset.value_counts())
    print('test set\n', testset.value_counts())

train set
 species
2    34
0    33
1    33
Name: count, dtype: int64
test set
 species
0    17
1    17
2    16
Name: count, dtype: int64
train set
 species
1    34
0    33
2    33
Name: count, dtype: int64
test set
 species
0    17
2    17
1    16
Name: count, dtype: int64
train set
 species
0    34
1    33
2    33
Name: count, dtype: int64
test set
 species
1    17
2    17
0    16
Name: count, dtype: int64

In [15]:
kfold = KFold(n_splits=3)

for train_index, test_index in kfold.split(iris_df):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('trainset\n', trainset.value_counts())
    print('testset\n', testset.value_counts())

trainset
 species
1    50
2    50
Name: count, dtype: int64
testset
 species
0    50
Name: count, dtype: int64
trainset
 species
0    50
2    50
Name: count, dtype: int64
testset
 species
1    50
Name: count, dtype: int64
trainset
 species
0    50
1    50
Name: count, dtype: int64
testset
 species
2    50
Name: count, dtype: int64